#root {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: left; /* Normal, no centrado */
}
/* Contenedor global */
.El-Ancho-completo-100 {
  max-width: 100%;
  margin: 0 auto; 
}

/* Espaciado interno del contenido */
.main-content {
  padding: 20px;
}
