/* LOGO */
.logo-img {
  height: 60px;
  object-fit: contain;
}

@media (max-width: 768px) {
  .logo-img {
    height: 48px; 
  }
}

@media (max-width: 576px) {
  .logo-img {
    height: 40px;
  }
}


.text-primary-custom {
  color: #003366 !important;
}

.text-primary-custom:hover {
  color: #0055aa !important;
}


.navbar-nav .nav-link {
  padding: 0 12px;
  font-size: 15.5px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}


.divider {
  width: 1px;
  height: 22px;
  background-color: #cccccc;
  margin: 0 15px;
}

/* Tablet */
@media (max-width: 992px) {
  .navbar-nav .nav-link {
    padding: 8px 0;
    font-size: 15px;
  }

  .divider {
    display: none;
  }
}

/* Móvil */
@media (max-width: 576px) {
  .navbar-nav .nav-link {
    padding: 10px 0;
    font-size: 14px;
  }
}


.container {
  max-width: 1440px;
}


.navbar {
  border-bottom: 2px solid #e0e0e0;
}
